# Tuples

In [1]:
T=('car','van','bat')

In [2]:
T

('car', 'van', 'bat')

In [3]:
T=('car','van','bat','car')

In [4]:
T         ##Duplicate

('car', 'van', 'bat', 'car')

In [ ]:
T.

In [5]:
L=['car','van','bat','car']

In [7]:
L.insert(1,'apple')

In [8]:
L ##List operation inserting

['car', 'apple', 'van', 'bat', 'car']

In [10]:
T.count('car')     ##count

2

In [11]:
T.index('car')  ##index

0

In [12]:
len(T)    ##lenght of tuples

4

In [13]:
print(list(T))      ##converting from tuples to list

['car', 'van', 'bat', 'car']

In [14]:
T.pop('car')  ## 'tuple' object has no attribute 'pop'

AttributeError: 'tuple' object has no attribute 'pop'

In [17]:
print(tuple(L))   ##converting list to tuple

('car', 'apple', 'van', 'bat', 'car')

In [36]:
count=0
for i in T:
    if i=='car':
        count+=1
print(count)

2

In [37]:
T.count('car')

2

In [38]:
L

['car', 'apple', 'van', 'bat', 'car']

In [39]:
T

('car', 'van', 'bat', 'car')

In [156]:
T=('car','van','bat','car',['jawa','royal enfield','pulsar'])

In [41]:
T[4]

['jawa', 'royal enfield', 'pulsar']

In [62]:
list1=[]
for i in T:
    print('value of i',i)
    if type(i)==list:
        for j in i:
            print('value of j',j)
            list1.append(j)
        
    else:
        list1.append(i)
        
    
print(list1)

value of i car
value of i van
value of i bat
value of i car
value of i ['jawa', 'royal enfield', 'pulsar']
value of j jawa
value of j royal enfield
value of j pulsar
['car', 'van', 'bat', 'car', 'jawa', 'royal enfield', 'pulsar']

In [63]:
print(tuple(list1))

('car', 'van', 'bat', 'car', 'jawa', 'royal enfield', 'pulsar')

In [65]:
a=(['jawa','royal enfield','pulsar'],['car', 'apple', 'van', 'bat', 'car'],'virat')

In [76]:
list2=[]
for i in a:
    if type(i)==list:
        for j in i:
            
            list2.append(j)
    else:
        list2.append(i)
print(list2)

['jawa', 'royal enfield', 'pulsar', 'car', 'apple', 'van', 'bat', 'car', 'virat']

In [77]:
print(tuple(list2))

('jawa', 'royal enfield', 'pulsar', 'car', 'apple', 'van', 'bat', 'car', 'virat')

In [78]:
T

('car', 'van', 'bat', 'car', ['jawa', 'royal enfield', 'pulsar'])

In [82]:
y=('car', 'van', 'bat')
z=('x','y','z')

In [83]:
y+z  ##concatenation of tuples is possible

('car', 'van', 'bat', 'x', 'y', 'z')

# SETS

In [92]:
a={'car','car','van','bat','wind'}
a     ##

{'bat', 'car', 'van', 'wind'}

In [85]:
a.add('chair')

In [86]:
a   ##mutable

{'bat', 'car', 'chair', 'van'}

In [89]:
b={'car','fan','wind','window','wind'}   ##unique

In [90]:
a.union(b)     ##union

{'bat', 'car', 'chair', 'fan', 'van', 'wind', 'window'}

In [93]:
a.intersection(b)    ##intersection

{'car', 'wind'}

In [94]:
c=a.intersection(b) 
c

{'car', 'wind'}

In [106]:
d=(sorted(c,reverse=True))

In [107]:
d

['wind', 'car']

In [108]:
set(d)

{'car', 'wind'}

In [109]:
a      ##sorting of set is not possible

{'bat', 'car', 'van', 'wind'}

In [119]:
for i in a:
    if i=='daam':
        print(i)
    else:
        print('given word doesnt exist')
        break

given word doesnt exist

In [121]:
print(tuple(a))   ##converting to tuple

('bat', 'car', 'wind', 'van')

In [126]:
a.add('wind') ##add
a

{'bat', 'car', 'van', 'wind'}

In [128]:
a.remove('wind') ##remove
a

{'bat', 'car', 'van'}

In [127]:
a[1] ##'set' object is not subscriptable

TypeError: 'set' object is not subscriptable

In [203]:
a={'bat', 'car', 'van',('jawa', 'royal enfield', 'pulsar')}  ##

In [131]:
a

{('jawa', 'royal enfield', 'pulsar'), 'bat', 'car', 'van'}

In [149]:
b=[]
for i in a:
    if type(i)==tuple:
        for j in i:
            b.append(j)
    else:
        b.append(i)
print(b)

['bat', 'car', 'jawa', 'royal enfield', 'pulsar', 'van']

In [152]:
len(b)        ##lenght

6

In [162]:
b.index('van')

5

In [167]:
a.remove('van')  ##remove

In [168]:
a

{('jawa', 'royal enfield', 'pulsar'), 'bat', 'car'}

In [225]:
l=[]
for i in a:
    
    if type(i)==tuple:
        i=list(i)
        i.remove('jawa')
        i=tuple(i)
        
        l.append(i)
    else:
        l.append(i)        
print(set(l))

{'bat', ('royal enfield', 'pulsar'), 'car', 'van'}

In [ ]:
i=list(i)
            print('inside value of i',i)
            i.remove('jawa')
            i=tuple(i)
    else:
        l.append(i)
print(l)

In [226]:
set1={1,2,3,4}-{4,5,6}
set2={4,5,6}

In [227]:
set1-set2

{1, 2, 3}

In [228]:
set2-set1

{5, 6}

In [229]:
set1={'red','green','blue'}
set2={'black','yellow','blue'}

In [230]:
set1-set2

{'green', 'red'}

In [231]:
set2-set1

{'black', 'yellow'}

In [236]:
set1={('red','green','blue'),('one','two','three'),'maruti','zen','honda'}

In [237]:
set1

{('one', 'two', 'three'), ('red', 'green', 'blue'), 'honda', 'maruti', 'zen'}

In [238]:
for i in set1:
    print(i)

maruti
('red', 'green', 'blue')
zen
honda
('one', 'two', 'three')

In [ ]:
##samoon stratergy
1.remove from tuple 
2.two for loops
3. 2 if,else conditions
4. 1st convert into a list then convert back to set
5.

In [1]:
0.049>0.051

False

# Practice

In [4]:
l=[22,33,4,6,754,342,65,8565]
print(22 in l)

True

In [5]:
l=[22,33,4,6,754,342,65,8565]
print(225 not in l)

True

In [14]:
z=[22,34,34,56,12,22,976,5634,23,22]
for i in z:
    if z.count(i) > 1:
        print(i)

22
34
34
22
22

In [95]:
#Anagram
def anagram(s1,s2):
    s1=input('enter the name')
    s2=input('enter the name')
    if set(s1)==set(s2):
        print('its a anagram')
    else:
        print('its not a anagram')
    
anagram('s1','s2')

enter the namenahir
enter the namerihan
its a anagram

In [ ]:
anagram(s1,s2)

In [54]:
k=[22,34,34,56,12,22,976,5634,23,22]
h=[]
for i in k:
    if k.count(i) <= 1:
        h.append(i)
print(h)

[56, 12, 976, 5634, 23]

In [100]:
def find_pairs(l,x):
    l=int(input('enter the number'))
    x=int(input('enter the number'))

    pairs=[]
    for (i,el_1) in enumerate(l):
        for (j,el_2) in enumerate(l[i+1:]):
            if el_1 + el_2 == x:
                pairs.append((el_1,el_2))
    return pairs

In [101]:
find_pairs(l,x)

NameError: name 'x' is not defined

In [125]:
def palindrome(a):
    a=input('enter the name:')
    if a==a[::-1]:
        print('its a palindrome')
    else:
        print('not a palindrome')
    return a

In [126]:
palindrome(a)

enter the name:ziniz
its a palindrome

'ziniz'

In [136]:
#as a list
l=[3,4]
l+=[5,6]
print(l)

#as a stack
l.append(10)
l.pop()
print('as a stack',l)

#as a queue
l.insert(0,5)
l.pop()
print('as a queue',l)

[3, 4, 5, 6]
as a stack [3, 4, 5, 6]
as a queue [5, 3, 4, 5]

In [147]:

def get_missing(lst):
    return set(range(lst[len(lst)-1])[1:])-set(l)
l=list(range(1,100))
l.remove(20)
print(l)
print(get_missing(l))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
{20}

In [150]:
f=list(range(1,100))
print(f)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [157]:
g=list(range(1,100))
print(g)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [158]:
t=tuple(range(1,100))
print(t)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99)

In [197]:
s=set(range(1,100))
print(t)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99)

In [196]:
d={}
for i,j in d.items():
    d[i]=range(1,100)
    d[j]=range(1,100)
print(d[i].items())

KeyError: 22

In [281]:
def fibo(n):
    x=0
    y=1
    z=0
    while z <= n :
        
        x=y
        y=z
        z=x+y
        n+=1  
        print(x,end='')

In [282]:
fibo(20)

1011235813

In [308]:
#prime number

def prime_numbers(a):
    cnt=1
    for i in range(1,a):
        if a%i==0:
            cnt+=1
    if cnt==2:
        print('its a prime number')
    else:
        print('not a prime number')

In [315]:
prime_numbers(21)

not a prime number

In [345]:
#perfect number

def perfect_numbers(a):
    sum1=0
    for i in range(1,a):
        if a%i==0:
            print(a)
            sum1+=i
    if sum1==a:
        print('its a perfect number')
    else:
        print('not a perfect number')

In [346]:
perfect_numbers(6)

6
6
6
its a perfect number

# Geek for Geeks

In [349]:

# Python3 program to swap first
# and last element of a list
 
# Swap function
def swapList(newList):
    size = len(newList)
     
    # Swapping
    temp = newList[0]
    newList[0] = newList[size - 1]
    newList[size - 1] = temp
     
    return newList
     
# Driver code
newList = [12, 35, 9, 56, 24]
 
print(swapList(newList))

[24, 35, 9, 56, 12]

In [354]:
def swaplist(newlist):
    size=len(newlist)
    print(size)
    temp=newlist[0]
    newlist[0]=newlist[size - 1]
    newlist[size - 1] = temp
    return newlist

newList = [12, 35, 9, 56, 24]
 
print(swapList(newList))

[24, 35, 9, 56, 12]

In [363]:
z_list = [12, 35, 9, 56, 24]
def swaplist(z_list):
    size=len(z_list)
    print(size)
    temp=z_list[0]
    print(temp)
    z_list[0]=z_list[size - 1]
    z_list[size - 1] = temp
    print(z_list)
    return z_list
swaplist(z_list)

5
12
[24, 35, 9, 56, 12]

[24, 35, 9, 56, 12]

In [401]:
a_list = [12, 35, 9, 56, 24]
def swaplist(a_list):
    size=len(a_list) #5
    temp=a_list[0] #12
    a_list[0]=a_list[size - 1]
    a_list[size - 1]=temp
    return a_list
swaplist(a_list)

[24, 35, 9, 56, 12]

In [399]:
z_list = [12, 35, 9, 56, 24]
z_list[4-1]

56

In [410]:
b_list = [12, 35, 9, 56, 24]
def swaplist(b_list):
    size=len(b_list)
    temp=b_list[size-1]
    b_list[size-1]=b_list[0]
    b_list[0]=temp
    return b_list
    
swaplist(b_list)

[24, 35, 9, 56, 12]

In [411]:
# Python program to find the
# maximum of two numbers
 
 
a = 2
b = 4
 
maximum = max(a, b)
print(maximum)

4

In [412]:
# Python program to find the
# minimum of two numbers
  
  
a = 2
b = 4
  
minimum = min(a, b)
print(minimum)

2

In [413]:
test_list = [1, 6, 3, 5, 3, 4]
print(3 in test_list)

True