# LIST

List Operations in Python

#1 append() The append() method is used to add elements at the end of the list. ...

#2 extend() The extend() method is used to add more than one element at the end of the list. ...

#3 insert() The insert() method can add an element at a given position in the list. ...

#4 remove() ...

#5 pop() ...

#6 slice. ...

#7 reverse() ...

#8 len()

#9 min() and max()

#10 count()

#11 concatenate

#12 multiply

#13 index()

#14 sort()

#15 clear()

In [237]:
a=['is','al','pa','go','re','22']
print(a)

['is', 'al', 'pa', 'go', 're', '22']

In [4]:
a.extend('cat')
print(a)

['is', 'al', 'pa', 'go', 're', '22', 'c', 'a', 't']

In [5]:
a.append('cat')
print(a)

['is', 'al', 'pa', 'go', 're', '22', 'c', 'a', 't', 'cat']

In [10]:
a.pop(6) #in pop only index we can give
print(a)

['is', 'al', 'pa', 'go', 're', '22', 'a', 't', 'cat']

In [238]:
a.insert(0,'da')
print(a)

['da', 'is', 'al', 'pa', 'go', 're', '22']

In [240]:
a.insert(10,'python')
print(len(a))

9

In [242]:
a.index('python')
                          ##index

7

In [243]:
a

['da', 'is', 'al', 'pa', 'go', 're', '22', 'python', 'python']

In [247]:
a[0:6:-1]

['al', 'pa', 'go']

In [254]:
a[-1:5:-1]    #slicing

['python', 'python', '22']

In [256]:
abc=[12,23,56,677,34,56,677,78,7897,893,34,123,34]
ac=slice(0,2)
print(abc[ac])    #slicing

[12, 23]

In [257]:
abc=[12,23,56,677,34,56,677,78,7897,893,34,123,34]
print(abc.count(34))

3

In [258]:
abc.clear()
print(abc)    #clear

[]

In [259]:
abc   #clear

[]

In [260]:
abcd=[12,23,56,677,34,56,677,78,7897,893,34,123,34] #sort
abcd.sort()
print(abcd)

[12, 23, 34, 34, 34, 56, 56, 78, 123, 677, 677, 893, 7897]

In [11]:
a.pop(6) 
print(a)

['is', 'al', 'pa', 'go', 're', '22', 't', 'cat']

In [12]:
a.pop(6) 
print(a)

['is', 'al', 'pa', 'go', 're', '22', 'cat']

In [13]:
a.remove('cat')  #in remove we can use directly with string
print(a)

['is', 'al', 'pa', 'go', 're', '22']

In [14]:
a.remove('pa') 
print(a)

['is', 'al', 'go', 're', '22']

In [15]:
a=a[::-1]
print(a)

['22', 're', 'go', 'al', 'is']

In [16]:
a.reverse()  #inbuilt function for reverse
print(a)

['is', 'al', 'go', 're', '22']

In [17]:
a.sort()
print(a)

['22', 'al', 'go', 'is', 're']

In [18]:
a.sort(reverse=True)
print(a)

['re', 'is', 'go', 'al', '22']

In [24]:
#joining two list=(+,append,extend)
b=['cheetah','tiger','lion','dog','elephant','turtle','cat','deer','zebra','leopard']
print(a+b)

['re', 'is', 'go', 'al', '22', ['cheetah', 'tiger', 'lion', 'dog', 'elephant', 'turtle', 'cat', 'deer', 'zebra', 'leopard'], ['cheetah', 'tiger', 'lion', 'dog', 'elephant', 'turtle', 'cat', 'deer', 'zebra', 'leopard'], ['cheetah', 'tiger', 'lion', 'dog', 'elephant', 'turtle', 'cat', 'deer', 'zebra', 'leopard'], 'cheetah', 'tiger', 'lion', 'dog', 'elephant', 'turtle', 'cat', 'deer', 'zebra', 'leopard']

In [27]:
a.append(b)
print(a)

['is', 'al', 'pa', 'go', 're', '22', ['cheetah', 'tiger', 'lion', 'dog', 'elephant', 'turtle', 'cat', 'deer', 'zebra', 'leopard']]

In [31]:

for i in b:
    a.append(i)
print(a)

['is', 'al', 'pa', 'go', 're', '22', 'cheetah', 'tiger', 'lion', 'dog', 'elephant', 'turtle', 'cat', 'deer', 'zebra', 'leopard']

In [34]:
a.extend(b)
print(a)

['is', 'al', 'pa', 'go', 're', '22', 'cheetah', 'tiger', 'lion', 'dog', 'elephant', 'turtle', 'cat', 'deer', 'zebra', 'leopard']

In [35]:
for i in a:
    if i.startswith('c'):
        print(i)

cheetah
cat

In [36]:
for i in a:
    if i.isnumeric():
        print(i)

22

In [37]:
a.append('m3')
print(a)

['is', 'al', 'pa', 'go', 're', '22', 'cheetah', 'tiger', 'lion', 'dog', 'elephant', 'turtle', 'cat', 'deer', 'zebra', 'leopard', 'm3']

In [42]:
for i in a: #m3
    if i.isdigit() and i.isalpha():
        print(i)  ##pending

In [50]:
d=['ismail','samoon','shafath']
print(d)

['ismail', 'samoon', 'shafath']

In [58]:
print([*d])

['ismail', 'samoon', 'shafath']

In [69]:
f=[]    ####pending
for i in range(len(d)):
    f.append(list(d[i]))
print(f)

[['i', 's', 'm', 'a', 'i', 'l'], ['s', 'a', 'm', 'o', 'o', 'n'], ['s', 'h', 'a', 'f', 'a', 't', 'h']]

In [75]:
x=(lambda x:x+10)
print(x(5))

15

In [85]:

o=(lambda x,y,z,d:(x+y)*z-d)
print(o(5,6,2,2))

20

In [87]:
o=(lambda x,y,z,d,t:((x+y)*z-d)/t)
print(o(5,6,2,2,10))

2.0

In [89]:
b

['cheetah',
 'tiger',
 'lion',
 'dog',
 'elephant',
 'turtle',
 'cat',
 'deer',
 'zebra',
 'leopard']

In [91]:
a1=filter(lambda x:x.startswith('c'),b)
print(list(a1))

['cheetah', 'cat']

In [93]:
b1=[1,2,35,667,32,123,454,563,231,5,545]
b1=filter(lambda x:x%5==0,b1)
print(list(b1))

[35, 5, 545]

In [98]:
b21=[1,2,35,667,32,123,454,563,231,5,545]
b21=map(lambda x:x*5,b21)
print(list(b21))

[5, 10, 175, 3335, 160, 615, 2270, 2815, 1155, 25, 2725]

In [116]:
#c1='welcome to python'         #####pending
c1=(lambda x:x.upper(),c1)
print(c1('welcome to python'))

TypeError: 'tuple' object is not callable

In [ ]:
##Reduce

In [119]:
import functools

In [122]:
num1=[12,34,45,67,23,45,56,67]
print(functools.reduce(lambda x,y:x+y,num1))

349

In [124]:
num2=[12,34,45,99,23,45,56,67,91]
print(functools.reduce(lambda x,y:x if x>y else y,num2))

12

In [126]:
num2=[12,34,45,99,23,45,56,67,91]
print(functools.reduce(lambda x,y:x if x>y else y,num2))

99

In [137]:
d1=['ismail','samoon','shafath']
print(functools.reduce(lambda x,y:x + y,d1))

ismailsamoonshafath

In [ ]:
##Accumulate

In [139]:
import itertools

In [140]:
import operator

In [153]:
list11=[5,7,3,4,3,6,9,2,1]
result=itertools.accumulate(list11,max)
for i in result:
    print('max of list',i)

max of list 5
max of list 7
max of list 7
max of list 7
max of list 7
max of list 7
max of list 9
max of list 9
max of list 9

In [ ]:
#Recursive function

In [ ]:
#fibonacci series
0,1,1,2,3,5,8,13,21,34

In [162]:
def funct(n):
    x=0
    y=1
    z=0
    while n>1:
        print(z)
        x=y
        y=z
        z=x+y
        n=n-1

In [163]:
funct(11)

0
1
1
2
3
5
8
13
21
34

In [165]:
numbers=[[1],[2,3],[4,[5,6,[7,8,[9,[10,11,12]]]]]]

from itertools import chain
list(chain.from_iterable(numbers))

[1, 2, 3, 4, [5, 6, [7, 8, [9, [10, 11, 12]]]]]

In [166]:
apha=[['i', 's', 'm', 'a', 'i', 'l'], ['s', 'a', 'm', 'o', 'o', 'n'], 
 ['s', 'h', 'a', 'f', 'a', 't', 'h']]

from itertools import chain
list(chain.from_iterable(apha))

['i',
 's',
 'm',
 'a',
 'i',
 'l',
 's',
 'a',
 'm',
 'o',
 'o',
 'n',
 's',
 'h',
 'a',
 'f',
 'a',
 't',
 'h']

In [170]:
def1=min([5,7,3,4,3,6,9,2,1])
def1

1

In [177]:
lis1=[1,3,5,7,9,11,13]
lis2=[2,4,6,8,10,12]
print(sorted(lis1+lis2))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [180]:
import time

In [181]:
v=time.time()
v

1663443955.442866

In [213]:
#Combining list,tuple and Dictionary into one list or tuple or set
A=[1,2,3]
B=(4,5,6)
C={7,8,9}
L=[*A,*B,*C]
print(L)

[1, 2, 3, 4, 5, 6, 8, 9, 7]

In [195]:
my_list = [50, "Twenty", 110, "Fifty", "Ten", 20, 10, 80, "Eighty"]

my_tuple = (my_list[0], my_list[len(my_list) - 1], len(my_list))
print(my_tuple)

(50, 'Eighty', 9)

In [198]:
#printing list to tupple (50, 'Eighty', 9) as per required output
my_list = [50, "Twenty", 110, "Fifty", "Ten", 20, 10, 80, "Eighty"]
my_t=(my_list[0],my_list[len(my_list)-1],len(my_list))
print(my_t)

(50, 'Eighty', 9)

In [199]:
#How would you convert a list to an array?
import numpy as np
my_list = [2,4,6,8,10]
my_array=np.array(my_list)
print(my_array)

[ 2  4  6  8 10]

In [200]:
rollNumbers =[122,233,353,456]
names = ['alex','bob','can', 'don'] 
NewDictionary={ i:j for (i,j) in zip (rollNumbers,names)}
print(NewDictionary)

{122: 'alex', 233: 'bob', 353: 'can', 456: 'don'}

In [209]:
Fruits = {'a': "Apple", 'b':"Banana", 'c':"Carrot"}
key_to_lookup = 'a'
if key_to_lookup in Fruits:
    print ("Key exists")
else:
    print ("Key does not exist")

Key exists

In [210]:


dict = {}
dict['1'] = 'apple'
dict['3'] = 'orange'
dict['2'] = 'strawberry'

lst = dict.items()

# Sorted by key
print("Sorted by key: ", sorted(lst, key = lambda x : x[0]))

#Sorted by value
print("Sorted by value: ", sorted(lst, key = lambda x : x[1]))

Sorted by key:  [('1', 'apple'), ('2', 'strawberry'), ('3', 'orange')]
Sorted by value:  [('1', 'apple'), ('3', 'orange'), ('2', 'strawberry')]

In [211]:
dict = {}
dict['1'] = 'apple'
dict['3'] = 'orange'
dict['2'] = 'strawberry'

lst = dict.items()

# Sorted by key
print("Sorted by key: ", sorted(lst, key = lambda x : x[0]))

#Sorted by value
print("Sorted by value: ", sorted(lst, key = lambda x : x[1]))

Sorted by key:  [('1', 'apple'), ('2', 'strawberry'), ('3', 'orange')]
Sorted by value:  [('1', 'apple'), ('3', 'orange'), ('2', 'strawberry')]

In [212]:
one_truth = [True, False, False]
three_lies = [0, '', None]

print(any(one_truth))

print(any(three_lies))

True
False

In [236]:
list2=['Salman','Sadiya','saliK','samoon']

y=list(map(lambda y:y.upper(),list2))
print(y)

x=filter(lambda x: x.startswith(['o']),y)
print(list(x)) 

#pending

['SALMAN', 'SADIYA', 'SALIK', 'SAMOON']

TypeError: startswith first arg must be str or a tuple of str, not list

# Practice list program of list from Geek for Geeks

In [1]:
# Python3 program to swap first
# and last element of a list
 
# Swap function
def swapList(newList):
    size = len(newList)
     
    # Swapping
    temp = newList[0]
    newList[0] = newList[size - 1]
    newList[size - 1] = temp
     
    return newList
     
# Driver code
newList = [12, 35, 9, 56, 24]
 
print(swapList(newList))

[24, 35, 9, 56, 12]

In [2]:
# Python program to find the
# maximum of two numbers
 
 
a = 2
b = 4
 
maximum = max(a, b)
print(maximum)

4

In [3]:
# Python program to find the
# minimum of two numbers
  
  
a = 2
b = 4
  
minimum = min(a, b)
print(minimum)

2

In [4]:
#checking in a list 
test_list = [1, 6, 3, 5, 3, 4]
print(3 in test_list)

True

In [6]:
#reversing a list
test_list = [1, 6, 3, 5, 3, 4]
print(list(reversed(test_list)))

[4, 3, 5, 3, 6, 1]

In [28]:
##to check occurrence of a element
lst = [8, 6, 8, 10, 8, 20, 10, 8, 8, 9,2,2,2,2,2,2,2,2,2,2,2]
x=2
def countX(lst,x):
    return lst.count(x)

print('{} has occurred {} times'.format(x,countX(lst,x)))

2 has occurred 11 times

In [40]:
#to check occurrence of a element
x=8
y=6
lst = [8, 6, 8, 10, 8, 20, 10, 8, 8, 9,2,2,2,2,2,2,2,2,2,2,2]
def count_of_elements(lst,x,y):
    return lst.count(x) + lst.count(y)
print('x {} has occured {} times and y {} has occured {} times '.format(x,count_of_elements(lst,x,y),y,lst.count(y)))

x 8 has occured 6 times and y 6 has occured 1 times

In [54]:
##Multiplying elements in list
from functools import reduce
list1 = [1, 2, 3]
list2 = [3, 2, 4]
list3 = [3, 2, 4,4,5,6,7,8]
list4 = [1, 2, 3,4,5,6,7,8]
list5= [4,5,6,7,8]
list6=[2,4,6,8,10]
    
result1 = reduce((lambda x, y: x * y), list1)
result2 = reduce((lambda x, y: x * y), list2)
result3 = reduce((lambda x, y: x * y), list3)
result4=reduce((lambda x,y:x*y),list4)
result5=reduce(lambda x,y:x*y,list5)
result6=reduce(lambda x,y:x*y,list6)
print(result1)
print(result2)
print(result3)
print(result4)
print(result5)
print(result6)

6
24
161280
40320
6720
3840

In [55]:
# Python program to find largest number
# in a list

list1 = [10, 20, 20, 4, 45, 45, 45, 99, 99]
 

list2 = list(set(list1))

list2.sort()

print("Second largest element is:", list2[-2])

Second largest element is: 45

In [62]:
# Python program to find Even numbers
# in a list

list1 = [10, 20, 20, 4, 45, 45, 45, 99, 99]
 

x=list(filter(lambda x:x%2==0,list1))

print(x)

[10, 20, 20, 4]

In [63]:
# Python program to find odd numbers
# in a list

list1 = [10, 20, 20, 4, 45, 45, 45, 99, 99]
 

x=list(filter(lambda x:x%2==1,list1))

print(x)

[45, 45, 45, 99, 99]

In [65]:
# Python program to count Even and Odd numbers in a List
 
list1 = [10, 21, 4, 45, 66, 93, 1]
 
even_count = 0
odd_count = 0

for num in list1:

    if num % 2 == 0:
        even_count += 1
 
    else:
        odd_count += 1
 
print("Even numbers in the list: ", even_count)
print("Odd numbers in the list: ", odd_count)

Even numbers in the list:  3
Odd numbers in the list:  4

In [67]:
# Python program to print positive Numbers in a List
 
# list of numbers
list1 = [-10, 21, 4, -45, -66, 93, -11]
 

pos_nos = list(filter(lambda x: (x >= 0), list1))
 
print("Positive numbers in the list: ", *pos_nos)

Positive numbers in the list:  21 4 93

In [68]:
# Python program to print negative Numbers in a List
 
# list of numbers
list1 = [-10, 21, 4, -45, -66, 93, -11]
 

pos_nos = list(filter(lambda x: (x <= 0), list1))
 
print("Positive numbers in the list: ", *pos_nos)

Positive numbers in the list:  -10 -45 -66 -11

In [70]:
# Python program to count positive and negative numbers in a List
 
list1 = [-10, 21, 4, -45, -66, 93, -11]
 
positive_count = 0
negative_count = 0

for num in list1:

    if num > 0 :
        positive_count += 1
 
    else:
        negative_count += 1
 
print("positive_count numbers in the list: ", positive_count)
print("negative numbers in the list: ", negative_count)

positive_count numbers in the list:  3
negative numbers in the list:  4

In [72]:
# Python program to remove empty tuples from a
# list of tuples function to remove empty tuples
# using len()

def Remove(tuples):
    for i in tuples:
        if(len(i) == 0):
            tuples.remove(i)
    return tuples

tuples = [(), ('ram', '15', '8'), (), ('laxman', 'sita'),
          ('krishna', 'akbar', '45'), ('', ''), ()]
print(Remove(tuples))

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

In [100]:
##Flattening of list
list2=[[12,234,234],[10, 21, 4, 45, 66, 93, 1],[43,42,1],[34]]
list3=[]
for i in list2:

    for j in i:
        list3.append(j)
print(list3)

[12, 234, 234, 10, 21, 4, 45, 66, 93, 1, 43, 42, 1, 34]

In [104]:
# removing str elements in list
list1 = ['sravan', 98, 'harsha', 'jyothika',
         'deepika', 78, 90, 'ramya']
list2=[]

for i in list1:

    if(type(i) is str):
        list2.append(i)
print(list2)

['sravan', 'harsha', 'jyothika', 'deepika', 'ramya']

In [105]:

# Python3 code to demonstrate working of
# Concatenate 2 Matrix Row-wise
 
# initializing lists
test_list1 = [[4, 3, 5, ], [1, 2, 3], [3, 7, 4]]
test_list2 = [[1, 3], [9, 3, 5, 7], [8]]
 
# printing original lists
print("The original list 1 is : " + str(test_list1))
print("The original list 2 is : " + str(test_list2))
 
for i in range(0, len(test_list1)):
    test_list1[i].extend(test_list2[i])
# printing result
print("The concatenated Matrix : " + str(test_list1))

The original list 1 is : [[4, 3, 5], [1, 2, 3], [3, 7, 4]]
The original list 2 is : [[1, 3], [9, 3, 5, 7], [8]]
The concatenated Matrix : [[4, 3, 5, 1, 3], [1, 2, 3, 9, 3, 5, 7], [3, 7, 4, 8]]

In [107]:
test_list = ["Gfg is best for geeks",
             "All love Gfg",
             "Gfg is best for CS",
             "For CS geeks Gfg is best"]
              
# printing original list
print("The original list is : " + str(test_list))
 
# concatenating using join
joined = " ".join(ele for ele in test_list)
 
# mapping using Counter()
mappd = Counter(joined.split())
 
# getting total using sum
total_val = sum(mappd.values())
 
# getting share of each word
res = {key: val / total_val for key,
       val in mappd.items()}
 
# printing result
print("Percentage share of each word : " + str(res))

The original list is : ['Gfg is best for geeks', 'All love Gfg', 'Gfg is best for CS', 'For CS geeks Gfg is best']

NameError: name 'Counter' is not defined

In [8]:
##removing space from the dictionary key
fruity = {'Fruits 01' : 'Apple', 'Fruits 02' : 'Orange', 'Fruits 0 3 ': 'Grapes'}
l=[]
for i in fruity:
    a=i.replace(' ','')
    l.append(a)
c=fruity.values()
d=list(zip(l,c))
print(dict(d))

{'Fruits01': 'Apple', 'Fruits02': 'Orange', 'Fruits03': 'Grapes'}